html,body {
	margin: 0px;
	padding: 0px;
	font-size :12px;
}
input, select, textarea {
    border:1px solid #B6B5DB;color:#002266;
}a:link    {font-family: "Dotum", "Gulim", "Arial";  color:#0B7903;font-size: 12px; text-decoration: none}
a:visited {font-family: "Dotum", "Gulim", "Arial";  color:#0B7903;font-size: 12px; text-decoration: none}
a:hover   {font-family: "Dotum", "Gulim", "Arial";  color:#0B7903; font-size: 12px; text-decoration: underline}

a.at_link:link    {font-family: "Dotum", "Gulim", "Arial";  color:#5587ED;font-size: 12px; text-decoration: none}
a.at_link:visited {font-family: "Dotum", "Gulim", "Arial";  color:#5587ED;font-size: 12px; text-decoration: none}
a.at_link:hover   {font-family: "Dotum", "Gulim", "Arial";  color:#5587ED; font-size: 12px; text-decoration: underline}

._con_list {width:100%; padding:0px; border-spacing:0px; border-collapse:collapse; border-left:1px solid #e0e1e3;}
._con_list tr {height:25px; border-left:1px solid #eeeeee;}
._con_list th {font-family: "Dotum", "Gulim", "Arial"; font-size: 12px; border-right:1px solid #e0e1e3;border-right:1px solid #e0e1e3;border-bottom:1px solid #e0e1e3;border-top:1px solid #e0e1e3;text-align:left;background:#cccccc;}
._con_list td {font-family: "Dotum", "Gulim", "Arial"; font-size: 12px; border-right:1px solid #e0e1e3;border-right:1px solid #e0e1e3;border-bottom:1px solid #e0e1e3;text-align:left;}

#popup {
	height: 100%;
	width: 100%;
	background: #000000;
	position: absolute;
	top: 0;
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	filter:alpha(opacity=75);
}

#window {
	width: 600px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #000000;
	background: #ffffff;
	position: absolute;
	top: 200px;
	left: 25%;
}

label, input { display:block; }
input.text { margin-bottom:10px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
iframe.contents-contain { width: 100%; height: 500px;  margin: 0px 0; border: 1px solid #cccccc; overflow:auto; overflow-x:auto; overflow-y:auto}
div.contents-contain { width: 100%; height: 100%;  margin: 0px 0; overflow:auto; overflow-x:auto; overflow-y:auto}

table.contents-contain { margin: 1em 0; border-collapse: collapse; width: 100%; font-size :12px;}
table.contents-contain td { border: 1px solid #cccccc; padding: .6em 10px; text-align: left; }
table.contents-contain td.num { border: 1px solid #cccccc; padding: .6em 10px; text-align: right; }
table.contents-contain td.center { border: 1px solid #cccccc; padding: .6em 10px; text-align: center; }
table.contents-contain th { border: 1px solid #cccccc; padding: .6em 10px; text-align: center; }
table.contents-contain tr.over:hover { background: #F2FFED; }

tr.tr_over:hover { background-color: #e3f1fd;background: #e3f1fd; }

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.view_link { color:#7C7C7C; text-decoration: underline; cursor: pointer;}
.left_menu {
	height: 25px;
	width: 98%;
	background: #000000;
	margin:1px;
	text-align: left;
}

#tabs { height: 100%; margin-top: 0em; }
#tabs li .ui-icon-close { float: left; margin: 0.0em 0.2em 0 0; cursor: pointer; }
.ui-tabs .ui-tabs-panel { padding: 0.2em; }
.button-r{ float: right; margin: 4px;}
.button-l{ float: left; margin: 4px;}
.btn-r{ float: right; margin: 4px;}
.btn-l{ float: left; margin: 4px;}
.search-param{float: left; margin: 0 5px 0 0 ;}

.search-button{float: right; margin: 0 0 0 5px;}
.action_silver {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/btn_action_silver.gif") repeat-x scroll 0 0 #F5F5F3;
    border-color: #CFC8C5 #CFC8C5 #96928F;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #736E69;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px 4px;
}

.center {text-align: center; }

.br{clear:both;}

.cur_ctl { border: 1px solid #0000ff; }

