
<div class="contents-list" desc="dep4 singleRow" style="overflow: auto;border1: 1px solid #d4d4d4; padding1: 2px;margin1: 2px;">
	<table class="ui-widget ui-widget-content contents-contain" >
		<tr >
			<th class="ui-state-default" width="200" >NAME</th>
			<td th:text="${prod['group_id']}">Onions</td>
		</tr>
		<tr >
			<th class="ui-state-default" >PRICE</th>
			<td class="ui-widget-content"  th:text="${prod['code_value']}">2.41</td>
		</tr>
		<tr >
			<th class="ui-state-default" >IN STOCK</th>
			<td class="ui-widget-content"  th:text="${prod['code_name']}">yes</td>
		</tr>
	</table>
</div>